# Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCyf78Elk_p7Tf5QhOJ8LsTNy4m3c_1zkY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=tu-hustoria-en-mi.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=tu-hustoria-en-mi
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=tu-hustoria-en-mi.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=29157660330
NEXT_PUBLIC_FIREBASE_APP_ID=1:29157660330:web:2b734ee732b2a3c2ae22d3

# Supabase (para base de datos en la nube)
NEXT_PUBLIC_SUPABASE_URL=TU_SUPABASE_URL
NEXT_PUBLIC_SUPABASE_ANON_KEY=TU_SUPABASE_ANON_KEY
