# Firebase config
# Consíguelas en https://console.firebase.google.com > Configuración del proyecto > Tus apps
NEXT_PUBLIC_FIREBASE_API_KEY=TU_API_KEY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=TU_PROYECTO.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=TU_PROYECTO
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=TU_PROYECTO.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=TU_SENDER_ID
NEXT_PUBLIC_FIREBASE_APP_ID=TU_APP_ID
